* {
    padding: 0;
    margine: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
header {
    background-image: linear-gradient(rgba(42,58,74,0.85),rgba(42,58,74,0.85)), url(299-2991621_laptop-wallpapers-79-hd-laptop-wallpapers-on-wallpaperplay.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#main1 {

    background: transparent;
    width: 100%;
    height: 70px;
}



.text1 {
    transform:translate(-50%,-50%);
    position: absolute;
    top: 27%;
    left: 50%;

}

.text1 h1 {
    color:white;
    font-size:50px;
}


.download{
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
}

.dowload-box{
    font-size:20px;
    background:white;
    margin: 4px 2px;
    border-radius:50px;
    width:450px;
    height:40px;
    outline:none;


}

.download h1 {
    color:white;
    font-size:18px;

}

.submit{
    border: none;
    color: black;
    border-radius:50px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    top: 50;
    right:80;
    cursor: pointer;
}

